# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
out/

# NuGet Packages
*.nupkg
*.snupkg

# Visual Studio cache/options
.vs/
.vscode/

# JetBrains Rider
.idea/
*.sln.iml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Results
*.exe
*.pdb
*.cache

# NuGet Packages
*.nupkg
*.snupkg
packages/

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin
$RECYCLE.BIN/

# Game binaries (private submodule / manual copy)
lib/*
!lib/v2.10.0/
lib/v2.10.0/*
!lib/v2.10.0/Assembly-CSharp.dll
!lib/v2.10.0/Assembly-CSharp-firstpass.dll
!lib/v2.10.0/Unity.TextMeshPro.dll
everyday/

# Other files
TestModProject
.adofai/
